<!-- Include Google Fonts link for Roboto Slab -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">

<div class="container">
  <h1 class="page-title"><strong>Edit restaurant</strong></h1>

  <div class="form-container">
    <%= render 'form', restaurant: @restaurant %>
  </div>
  <div class="back-to-list">
    <%= link_to 'Back to the list', restaurants_path, class: 'btn btn-success' %>
  </div>
</div>


<!-- You can move the following CSS into your application's stylesheet -->
<style>
  .page-title {
    text-align: center;
    color: #333;
    font-family: 'Roboto Slab', serif;
    font-size: 3em;
  }

  .form-container {
    margin-bottom: 20px;
  }

  .back-to-list {
    text-align: center;
    margin-top: 20px;
  }
</style>
